body {
    padding: 50px;
    background-color: rgb(223, 176, 107);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    justify-content: center;
}

code {
    font-family: Ubuntu,source-code-pro, Menlo, Monaco, Consolas, monospace, "Courier New", Ubuntu;
}
